@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	background: #f4f5f6;
}

.title {
	text-align: center;
	margin-top: 0.5em;
}

#game {
	background: #353535;
}

.pointer {
	cursor: pointer;
}

.nopointer {
	cursor: default;
}

/* Lovely Github Corner by Tim Holman http://tholman.com/github-corners/ */
.github-corner svg {
	fill: #151513;
	color: #f4f5f6;

	position: absolute;
	top: 0;
	border: 0;
	left: 0;
	transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out 
}

@keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0)
	}

	20%, 60% {
		transform:rotate(-25deg)
	}

	40%, 80% {
		transform: rotate(10deg) 
	}
}
	
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}