body {
	background: #f4f5f6;
}

.total-wrap {
	display: flex;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.title {
	text-align: center;
	margin-top: 1em;
}

.description {
	text-align: center;
	animation: 800ms ease-in-out;
	opacity: 0;

	color: #2ecc71;
}

.description.found {
	opacity: 1;
} 

.accordion {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.accordion #option-tab {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.accordion #option-label {
	position: relative;
	display: block;
	cursor: pointer;

	font-size: 0;
	color: #f4f5f6;
}

.accordion #option-label:before {
	content: 'Options +';
	font-size: 1.6rem;
	color: #606c76;
}

.accordion .tab-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 800ms;
	margin-left: 1em;
}

.accordion .tab-content label {
	font-weight: 400;
}

.accordion #option-tab:checked ~ .tab-content {
	max-height: 100em;
}

.accordion #option-tab:checked ~ label:before {
	content: 'Options -';
}

.accordion .evolution-customizer input {
	cursor: pointer;
}

.accordion .evolution-customizer dt {
	font-weight: 400;
	margin-bottom: 0.3em;
}

.accordion .evolution-customizer dd {
	margin-bottom: 0;
}

.accordion .evolution-customizer label {
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
}

.accordion label[for="to-binary"] {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.accordion .checkbox {
	cursor: pointer;
	margin-right: 0.5em;
}

textarea {
	background: #fff;
}

.red {
	background: rgba(255, 0, 0, 0.2);
}

/* No script */
noscript {
	position: absolute;
	top   : 0;
	bottom: 0;
	left  : 0;
	right : 0;

	z-index: 999;

	background: #FFF;
}

noscript h1, noscript h2 {
	text-align: center;
	font-family: 'system';
	font-weight: 300;
}

noscript h2 {
	margin: 5px;
}

/* Lovely Github Corner by Tim Holman http://tholman.com/github-corners/ */
.github-corner svg {
	fill: #151513;
	color: #f4f5f6;

	position: absolute;
	top: 0;
	border: 0;
	left: 0;
	transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out 
}

@keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0)
	}

	20%, 60% {
		transform:rotate(-25deg)
	}

	40%, 80% {
		transform: rotate(10deg) 
	}
}
	
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}